/*@media print {*/
body {
    -webkit-print-color-adjust: exact; /*Chrome and Safari*/
    color-adjust: exact; /*Firefox*/
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em;
}

.running {
    background-color: #e6e6e6;
}

.container {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 35% 5% 55%;
}

#temp_distribution {
    /*border: 1px solid blue;*/
    grid-column: 1 / 2;
}

#gantt {
    grid-column: 3 / 3;
    /*border: 1px solid green;*/
}

#stats {
    margin-top: 3em;
    grid-column: 1 / 2;
}

/*}*/
